@font-face {
	font-family: BUNGEESHADE;
	src: url('../fonts/BUNGEESHADE-REGULAR.TTF');
}

@font-face {
	font-family: 'Cafe24SsurroundAir';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cafe24Ssurround';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: "Cafe24Ssurround";
}

.logo {
	font-family: "BUNGEESHADE";
	font-size: 3rem;
	width: max-content;
}

@media ( max-width : 990px) {
	.logo {
		font-size: 3rem;
	}
}

li.add-list {
    z-index: 1 !important;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.header-area .main-header .main-menu ul li a {
		padding: 39px !important;
	}
}

@media ( max-width : 575px) {
	.logo {
		font-size: 3rem;
	}
}

.header-area .main-header .main-menu ul li a {
	font-weight: 500 !important;
	font-size: 19px !important;
	padding: 25px 39px 10px 39px !important;
}

ul {
	text-align: center;
}

.fa, .fal, .far, .fas {
	display: block !important;
	margin-block-end: 5px;
}

.logo:hover {
	color: #ff8000;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
	.section-padding30 {
		padding-top: 100px !important;
	}
}

.section-padding30 {
	padding-top: 100px !important;
}

.hero-area2 {
	background-image: url(../img/batgae-beach.jpg) !important;
}

.hero-overly2 {
	background-color: rgba(0, 0, 50, 0.4) !important;
}

h2, h3 {
	font-family: "Cafe24Ssurround" !important;
	padding: 10px
}

table {
	border-collapse: separate !important;
	width: 97%;
	text-align: center;
	font-size: 18px;
}

table a {
	color: #212529 !important;
}

table a:hover {
	color: #ff8000 !important;
}

td {
	border-style: groove;
	border-width: thin;
	padding: 10px;
}

.section-padding {
	padding-top: 50px !important;
}

img {
	padding: 10px 10px 5px 10px;
}

@media ( min-width : 768px) {
	.blog_details {
		padding: 40px 30px 30px 35px !important;
	}
}

p {
	font-family: "Cafe24SsurroundAir" !important;
	font-style: italic;
}

.blog_item {
    margin-bottom: 50px;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.blog_item_img {
	padding: 20px 20px 10px 20px;
}

.card-img {
    width: 100%;
    border-radius: calc(.25rem - 1px);
    height: 400px;
}

.mb-30 {
    margin-bottom: 30px;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    padding: 10px;
}

.listing-details-area .single-listing .list-caption {
    border: 0 !important;
    padding: 10px !important;
}

.listing-details-area .single-listing .list-img img {
    height: 250px !important;
}
